@media (width <= 480px) {
  .bd-example-standard {
    position: relative;
    inset: 1px;
  }

  .bd-example-scss {
    $var: 1;

    @if $var == 1 {
      .foo {
        color: red;
      }
    }
    @else {
      .foo {
        color: blue;
      }
    }
  }

  .bd-example-stylistic {
      font-family: "Bad Indent",serif; color: red;}

  .bd-example-ordered {
    display: block;
    right: 1px;
    position: relative;
    top: 1px;
  }
}
